

div.TaskColumn{
    width: 320px;
    height: 96vh;
    background-color: beige;
    margin: 0 auto;
    position: relative;
    top: 15px;
    border-radius: 10px;
}

button.btn-addTask{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 5px;
}